{% extends 'base.html.twig' %}

{% block title %}Mon BLOG With Symfony!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bonjour vous êtes bien sur la page d'{{ controller_name }} de mon Blog! ✅</h1>

    <h2>La liste de mes articles<h2>
</div>
{% endblock %}
