{% extends 'base.html.twig' %}

{% block title %}Création d'un nouvel article{% endblock %}

{% block body %}
<h1>Création d'un nouvel article</h1>

{{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.content) }}

    <button type="submit" class="btn btn-primary">Créer l'article</button>
{{ form_end(form) }}
{% endblock %}
